<footer class="center text-center">
  <div class="container">
    <ul>
      <li><a href="/badrumsrenovering" class="footer-link">Badrumsrenovering</a></li>
      <li><a href="/rekommendationer" class="footer-link">Rekommendationer</a></li>
      <li><a href="https://www.instagram.com/sthlmbadrum" class="footer-link">Instagram</a></li>
      <li><a href="/bloggen" class="footer-link">Blogg</a></li>
      <li><a href="/kontakt-offert" class="footer-link kontakt-cta">Kontakt & Offert</a></li>
    </ul>
    <div itemscope itemtype="http://schema.org/LocalBusiness">
      <p><span itemprop="name">KM Living Construction AB</span> är en <span itemprop="description">byggfirma med bred och mångårig erfarenhet inom byggbranschen. Vi är specialister på badrumsrenoveringar och köksrenoveringar, men utför allt inom bygg och renovering.</span></p>
      <p>Besök oss gärna på
        <a href="//www.facebook.com/stockholmsbadrumsrenoveringcom/" class="footer-link">Facebook</a>,
        <a href="//www.instagram.com/sthlmbadrum/" class="footer-link">Instagram</a>,
        <a href="//se.pinterest.com/stockholmbadrum/" class="footer-link">Pinterest</a>,
        <a href="//twitter.com/sthlm_badrum" class="footer-link">Twitter</a> eller
        <a href="//plus.google.com/105704827592894141744" class="footer-link">Google+</a>
      </p>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <p><a href="//www.kmliving.se" title="KM Living Construction AB" class="footer-link">KM Living Construction AB</a>, <span itemprop="streetAddress">Erik Sandbergsgata 6, 169 34</span> <span itemprop="addressLocality">Solna</span> <span itemprop="addressRegion">Stockholm</span> (<a href="https://goo.gl/maps/izx65vFFoSR2" class="footer-link">Karta</a>)<br>
        Telefon <span itemprop="telephone"><a href="tel:+468366121" class="footer-link">08-36 61 21</a></span>, Mobiltelefon <span itemprop="telephone"><a href="tel:+46707899949" class="footer-link">0707899949</a></span> - Organisationsnummer: 556761-6015 (Innehar F-skatt)</p>
      </div>
    </div>
  </div>
</footer>
<amp-analytics type="googleanalytics" id="analytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-83609422-1"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
</amp-analytics>