<header>
  <nav class="primary" itemscope itemtype="http://schema.org/Brand">
    <a href="/" class="brand", itemprop="logo">
      {% include partials/svg/logo.html %}
    </a>
    <input id="bmenu" type="checkbox" class="show">
    <label for="bmenu" class="burger toggle pseudo button">
      {% include partials/svg/menu.html %}
    </label>
    <div class="menu">
      <a href="/badrumsrenovering">Badrumsrenovering</a>
      <a href="/rekommendationer">Rekommendationer</a>
      <a href="/tjanster">Våra Tjänster</a>
      <a href="/om-oss">Om Oss</a>
      <a href="/offert">Offertförfrågan</a>
      <a class="none-500 none-800" href="/bloggen">Bloggen</a>
    </div>
  </nav>
</header>