<header class="text-center" itemscope itemtype="http://schema.org/Brand">
    <a href="/" class="brand" itemprop="logo">
      {% include partials/svg/logo.html %}
    </a>
    <ul class="text-center">
      <li><a href="/badrumsrenovering" class="nav">Badrumsrenovering</a></li>
      <li><a href="/rekommendationer" class="nav">Rekommendationer</a></li>
      <li><a href="https://www.instagram.com/km.living" class="nav">Instagram</a></li>
      <li><a href="/bloggen" class="nav">Blogg</a></li>
      <li><a href="/kontakt" class="nav">Kontakt & Offert</a></li>
    </ul>
</header>