<h2>I samarbete med</h2>
<ul>
  <li>Vi är medlemmar i byggkeramikrådet, ElsäkerhetsverketSÄK och PER.</li>
  <li>Vi är behöriga i våtrum, el och tätskiktssystem, vi samarbetar endast med behöriga underentreprenörer.</li>
  <li>Vi är medlemmar i SÄK seriositet, Ärlighet och kunskap.</li>
  <li>Vi håller på att certifiera oss i miljö och kvalitetsarbete enligtISO 9001:2008 samt ISO 14001:2004.</li>
</ul>
<figure>
  <a href="http://www.bkr.se/om-bkr/per/" title="PlattsättningsEntreprenörernas Riksförenings (PER)">
    <amp-img class="logo" placeholder
      src="https://res.cloudinary.com/stockholmsbadrumsrenovering/image/upload/v1475947898/main/certifications/logo-per.jpg"
      layout="responsive" width="260" height="200"
      alt="PlattsättningsEntreprenörernas Riksförenings (PER)">
    </amp-img>
  </a>
</figure>
<figure>
  <a href="http://www.bkr.se/" title="Byggkeramikrådet (BKR)">
    <amp-img class="logo" placeholder
      src="https://res.cloudinary.com/stockholmsbadrumsrenovering/image/upload/v1475947898/main/certifications/logo-bkr.svg"
      layout="responsive" width="260" height="200"
      alt="Byggkeramikrådet (BKR)">
    </amp-img>
  </a>
</figure>
<figure>
  <a href="http://www.elsakerhetsverket.se/om-oss/Samarbete/" title="Elsakerhetsverket">
    <amp-img class="logo" placeholder
      src="https://res.cloudinary.com/stockholmsbadrumsrenovering/image/upload/v1475947898/main/certifications/logo-elsakerhetsverket.svg"
      layout="responsive" width="260" height="200"
      alt="Elsakerhetsverket">
    </amp-img>
  </a>
</figure>
<figure>
  <a href="https://www.if.se/privat" title="Försäkringsbolaget If">
    <amp-img class="logo" placeholder
      src="https://res.cloudinary.com/stockholmsbadrumsrenovering/image/upload/v1475947898/main/certifications/logo-if.png"
      layout="responsive" width="260" height="200"
      alt="Försäkringsbolaget If">
    </amp-img>
  </a>
</figure>