<h2>Nöjda kunder</h2>
<div class="testimonials flex one two-500 four-800">
  {% assign rekommendationer = (site.rekommendationer | sort: 'date') | reverse %}
  {% for rekommendation in rekommendationer limit:4 %}
    <div class="testimonial block">
      <amp-img placeholder
        src="{{ rekommendation.thumbnail_image }}"
        layout="responsive" width="260" height="200"
        alt="{{ rekommendation.title | escape }}">
      </amp-img>
      <h4><a class="post-link" href="{{ rekommendation.url | prepend: site.baseurl }}">{{ rekommendation.title | escape }}</a></h4>
      <blockquote>{{ rekommendation.excerpt markdownify | strip_html | truncatewords: 30 }}</blockquote>
      <div class="testimonial-client">— {{ rekommendation.kund }}</div>
    </div>
  {% endfor %}
</div>
<a href="/rekommendationer" title="Fler Rekommendationer för Stockholms Badrums Renovering" class="link-more">Fler Rekommendationer</a>