<div class="cta-form center m-t-70px sm-m-t-20px">
  <form class="container form-campaign" action="https://getsimpleform.com/messages?form_api_token=5ab23810db39b60660122bd3f7480688" method="post" target="_top">
    <fieldset>
      <div class="form-row">
        <input type='hidden' name='redirect_to' value='https://www.stockholmsbadrumsrenovering.com/tack/' />
        <label class="required" id="name" for="name">Namn</label>
        <input name="name" type="text" required>
      </div>
      <div class="form-row">
        <label class="required" id="email" for="email">E-post</label>
        <input name="email" type="email" required>
      </div>
      <div class="form-row">
        <label id="phone" for="phone">Telefonnummer</label>
        <input name="phone" type="tel">
        <input type="hidden" name="content">
      </div>
      <div class="form-row">
        <input name="campaign-{{ page.campaign_id }}" type="hidden">
      </div>
    </fieldset>
    <fieldset>
      <input class="form-button" type="submit" value="Få min 25% rabatt">
      <h5 class="text-center"><em>Erbjudandet gäller <b>{{ page.campaign_expire }}</b></em></h5>
    </fieldset>
  </form>
</div>