<footer class="center text-center">
  <div class="container">
    <div itemscope itemtype="http://schema.org/LocalBusiness">
      <p><span itemprop="name">Vi</span> är en <span itemprop="description">byggfirma med bred och mångårig erfarenhet inom byggbranschen. Vi är specialister på badrumsrenoveringar och köksrenoveringar, men utför allt inom bygg och renovering.</span></p>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <p><span itemprop="streetAddress">Erik Sandbergsgata 6, 169 34</span> <span itemprop="addressLocality">Solna</span> <span itemprop="addressRegion">Stockholm</span> (<a href="https://goo.gl/maps/izx65vFFoSR2" class="footer-link">Karta</a>)<br>
        Telefon <span itemprop="telephone"><a href="tel:+468366121" class="footer-link">08-36 61 21</a></span>, Mobiltelefon <span itemprop="telephone"><a href="tel:+46707899949" class="footer-link">0707899949</a></span> - Organisationsnummer: 556761-6015 (Innehar F-skatt)</p>
      </div>
    </div>
  </div>
</footer>
<amp-analytics type="googleanalytics" id="analytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-83609422-1"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
</amp-analytics>