<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": "{{ site.url }}{{ page.url | replace:'index.html','' }}",
    "headline": "{{ page.title }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}",
    "description": "{{ page.description | flatify }}",
    "author": {
      "@type": "Organization",
      "name": "{{ site.organization_name }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.organization_name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo_jpg }}",
        "width": 600,
        "height": 60
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "{% if page.main_image %}{{ page.main_image }}{% else %}{{ site.og_image }}{% endif %}",
      "height": 2000,
      "width": 800
    }
  }
</script>