<meta name="description" content="{% if page.description %}{{ page.description | flatify }}{% else %}{{ site.description }}{% endif %}">
<meta name="google-site-verification" content="YaWETKqneCG0A9Nks8kHyqrbsouarT5SwtlE1aQvAus">
<meta name="p:domain_verify" content="f08d9c4431488047c30a071355325c4c"/>
<meta name="url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}/">
<meta name="ICBM" content="59.365101, 17.990997">
<meta name="geo.position" content="59.365101;17.990997">
<meta name="geo.region" content="SE-AB">
<meta name="geo.placename" content="Stockholm">