<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/picnicss/6.1.4/picnic.min.css fonts.googleapis.com; script-src 'self' 'unsafe-inline' https://cdn.ampproject.org/v0.js https://www.google-analytics.com/analytics.js; img-src 'self' dl.dropboxusercontent.com https://www.google-analytics.com; font-src fonts.gstatic.com">
<meta name="description" content="{% if page.description %}{{ page.description | flatify }}{% else %}{{ site.description }}{% endif %}">
<meta name="google-site-verification" content="YaWETKqneCG0A9Nks8kHyqrbsouarT5SwtlE1aQvAus">
<meta name="p:domain_verify" content="f08d9c4431488047c30a071355325c4c"/>
<meta name="url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}/">
<meta name="ICBM" content="59.365101, 17.990997">
<meta name="geo.position" content="59.365101;17.990997">
<meta name="geo.region" content="SE-AB">
<meta name="geo.placename" content="Stockholm">