---
layout: default
---
<section class="center p-b-90px" itemprop="articleBody">
  <div class="container">
    <article class="post section-padding" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
      <meta itemprop="keywords" content="{{ page.categories | join: ',' }}">
      <meta itemprop="description" content="{{ page.description | strip_html | truncatewords: 40 }}">
      <meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">
      <meta itemprop="dateModified" content="{{ page.date | date: '%Y-%m-%d' }}">
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="{{ site.organization_name }}">
      </span>
      <span itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ site.organization_name }}">
        <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="{{ site.logo_jpg }}">
        </span>
      </span>
      <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{% if page.main_image %}{{ page.main_image }}{% else %}{{ site.og_image }}{% endif %}">
        <meta itemprop="width" content="800">
        <meta itemprop="height" content="800">
      </span>
      <h1 itemprop="headline name" class="text-center title">{{ page.title }}</h1>
      <div itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
</section>
<section class="cta-block">
  {% include partials/block_cta.html %}
</section>