---
layout: default
---
<main itemid="{{ site.url }}{{ page.url | replace:'index.html','' }}" itemscope itemtype="http://schema.org/WebPage">
  <section class="testimonial-detail p-b-90px grid-container clearfix" itemscope itemtype="http://schema.org/CollectionPage">
    <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">
    <meta itemprop="dateModified" content="{{ page.date | date: '%Y-%m-%d' }}">
    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ site.organization_name }}">
    </span>
    <span itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ site.organization_name }}">
      <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ site.logo_jpg }}">
      </span>
    </span>
    <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{% if page.main_image %}{{ page.main_image }}{% else %}{{ site.og_image }}{% endif %}">
      <meta itemprop="width" content="800">
      <meta itemprop="height" content="800">
    </span>
    <h1 class="text-center m-t-90px title" itemprop="headline name">{{ page.title }}</h1>
    <meta itemprop="description" content="{{ page.description | flatify }}">
    {{ content }}
  </section>
  <section class="cta-block">
    {% include partials/block_cta.html %}
  </section>
</main>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "mainEntityOfPage": "{{ site.url }}{{ page.url | replace:'index.html','' }}",
  "url": "{{ site.url }}{{ page.url | replace:'index.html','' }}",
  "name": "{{ page.title }}",
  "headline": "{{ page.title }}",
  "image": "{% if page.main_image %}{{ page.main_image }}{% else %}{{ site.og_image }}{% endif %}",
  "description": "{{ page.description | flatify }}",
  "provider": {
    "@type": "Organization",
    "name": "{{ site.organization_name }}",
    "telephone": "{{ site.phone }}",
    "email": "{{ site.email }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ site.city }}, {{ site.country }}",
      "postalCode": "{{ site.postalcode }}",
      "streetAddress": "{{ site.address }}"
    },
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo_jpg }}",
      "width": 600,
      "height": 60
    }
  },
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ site.service_type }}"
  },
  "author": {
    "@type": "Person",
    "name": "Daniel"
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "8",
    "bestRating": "10"
  }
}
</script>