---
layout: default
---
<main class="flex">
  <section class="testimonials testimonials-detail section-padding">
    <h1 class="text-center m-t-2em">{{ page.title }}</h1>
    <div class="testimonial block one half-800">
      {{ content }}
    </div>
    <article class="gallery">
      {% for image in page.image %}
        <figure>
          <img src="{{ page.image[forloop.index0] }}" alt="{{ page.image-alt[forloop.index0] }}" class="img-responsive">
        </figure>
      {% endfor %}
    </article>
  </section>
  <section class="cta section-padding white-bg">
    {% include partials/block_testimonials.html %}
  </section>
  <section class="cta section-padding">
    {% include partials/block_cta.html %}
  </section>
</main>