<style amp-custom>
  {% include head/css/grid.html %}
  body {
    background: #fff;
    border: 10px solid #f19126;
    color: #1d1d1d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
  }
  body.campaign {
    background: #d8dfe6;
  }
  .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  a {
    text-decoration: none;
  }
  a:link, a:visited {
    color: #f19126;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.25s ease;
  }
  a:hover, a:focus, a:active {
    color: #f19126;
  }
  a.btn {
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
  }
  a.cta-btn {
    background: #f19126;
    box-shadow: 5px 5px 12px rgba(0,0,0,.2);
    color: #fff;
  }
  a.cta-btn:hover {
    background: #ffc107;
    transition: all 0.25s ease;
  }
  a.btn.link-more {
    background: #fff;
    border-color: #fff;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.05);
    color: #000;
  }
  a.btn.link-more:hover {
    background: #000;
    color: #fff;
  }
  a.kontakt-cta {
    border-bottom: 1px dotted #e6ae48;
  }
  a.kontakt-cta:hover {
    border-bottom: 1px dotted #1d1d1d;
  }
  h2 {
    font-size: 30px;
    padding: 60px 0;
    text-transform: uppercase;
  }
  p, h1, h2, h3, li {
    line-height: 35px;
  }
  p.subtitle {
    font-size: 18px;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
  }
  figure.icon_towel {
    background: #f19126;
  }
  figure.icon_towel img {
    height: 100px;
  }
  figcaption {
    color: #555;
    padding: 20px 0;
    text-align: center;
  }
  time {
    display: block;
    margin: 10px 0;
  }
  .text-center {
    text-align: center;
  }
  .m-r-30px {
    margin-right: 30px;
  }
  .m-l-30px {
    margin-left: 30px;
  }
  .m-t-20px {
    margin-top: 20px;
  }
  .m-t-70px {
    margin-top: 70px;
  }
  .m-t-90px {
    margin-top: 90px;
  }

  .p-b-50px {
    padding-bottom: 50px;
  }
  .p-b-90px {
    padding-bottom: 90px;
  }
  .img-responsive {
    width: 100%;
  }
  .img-grid {
    height:300px;
    width:auto;
    max-width:500px;
  }
  header {
    border-bottom: 2px solid #f9f9f9;
    padding: 30px 0px 50px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }
  header .brand {
    display: block;
    margin-bottom: 20px;
  }
  header ul li {
    display: inline-block;
    padding: 0 20px;
  }
  header a.nav {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  header a.nav:hover {
    color: #e6ae48;
  }
  .center .container {
    margin: 0 auto;
    width: 50%;
  }
  .hero {
    padding: 70px 0;
  }
  h1.title {
    font-size: 35px;
    margin-bottom: 60px;
    text-transform: uppercase;
    word-wrap: initial;
  }
  h1 .hide {
    display: none;
  }
  .campaign h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    letter-spacing: 2px;
    margin: 20px 0;
    text-transform: none;
  }
  section.testimonials {
    background: #f5f5f5;
  }
  .home .testimonial.block {
    background: #fff;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.05);
    margin: 0 20px;
  }
  .testimonial.block {
    background: #f9f9f9;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.05);
    margin: 30px;
  }
  .testimonial-content {
    height: 160px;
    min-height: 160px;
    padding: 0 10px;
  }
  .testimonial.block h3 {
    font-size: 16px;
    height: 40px;
    line-height: 22px;
    margin: 10px 0 0 0;
  }
  .testimonial-client {
    color: #999;
  }
  a.testimonial-more {
    border-bottom: 2px solid transparent;
    display: block;
    float: right;
  }
  a.testimonial-more:hover {
    border-bottom-color: #e6ae48;
    color: initial;
  }
  section.certifications {
    background: #eee;
    padding-bottom: 60px;
  }
  .certifications h2 {
    margin: 0;
  }
  .certifications ul {
    padding-bottom: 50px;
  }
  .certifications li {
    list-style: none;
  }
  .certifications figure {
    display: inline-block;
    width: 90px;
  }
  section.blog {
    padding-bottom: 100px;
  }
  section.blog h3.blog-title {
    font-size: 30px;
    padding: 0;
    text-transform: none;
  }
  .cta-block {
    background: #f19126;
    color: #fff;
    padding: 40px 0;
  }
  .gallery figure img {
    margin: 30px;
  }
  .post figure {
    border-bottom: 1px dashed #f19126;
    margin-bottom: 60px;
    padding-bottom: 30px;
  }
  .post figure img {
    width:500px;
    height: auto;
  }
  .campaign .campaign-description {
    padding: 40px;
  }
  .campaign .campaign-description-bg-arrow {
    background: url("https://res.cloudinary.com/stockholmsbadrumsrenovering/image/upload/v1475947766/icons/form-arrow.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right 400px;
  }
  .campaign .campaign-description p,
  .campaign .campaign-description ul li {
    font-size: 20px;
    line-height: 30px;
  }
  .campaign .campaign-description ul {
    list-style-position: inside;
  }
  /* Forms */
  .form-campaign {
    background-color: #fff;
    border-radius: .3em;
    box-shadow: #7d9aa7 0 1px 5px 0;
    border-color: #f3f5f5;
    margin-left: 5em;
    padding: 1.5em;
  }
  fieldset {
    border: 0;
    margin: 0 0 0.75rem;
    padding: 0;
  }
  .form-row {
    margin-bottom: 15px;
  }
  label, legend {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.375rem;
    text-transform: uppercase;
  }
  .required:after {
    color: red;
    content: ' *';
    font-size: 1.2em;
  }
  [type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea, select[multiple=multiple] {
    background-color: #fafafa;
    border: 1px solid #dbdbe0;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 1.2em;
    max-width: 660px;
    padding: 0.375rem 0.75rem;
    -webkit-transition: border .15s;
    -moz-transition: border .15s;
    -o-transition: border .15s;
    transition: border .15s;
    width: 100%;
  }
  input,
  textarea {
    border: 2px solid #ddd;
  }
  input:hover,
  textarea:hover {
    border-color: #000;
  }
  textarea {
    resize: vertical;
  }
  button, [type='button'], [type='reset'], [type='submit'], .form-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1d1d1d;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.9;
    min-height: 3rem;
    min-width: 9rem;
    padding: 0.375rem 1.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 150ms ease-in-out, box-shadow 300ms ease-in-out;
    transition: background-color 150ms ease-in-out, box-shadow 300ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
  }
  .form-button:hover {
    background: #000;
    transition: all 0.25s ease;
  }
  .form-campaign .form-button {
    background-color: #ea0b8c;
    border-bottom: 4px solid #b9096f;
    color: #fff;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
  }
  .form-campaign .form-button:hover {
    background-color: #c30975;
    border-color: #b00869;
  }
  /* Footer */
  footer {
    background: #f5f5f5;
    padding: 60px 0;
  }
  footer ul {
    margin: 0;
    padding-bottom: 30px;
  }
  footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
  }
  footer p {
    padding: 10px 0;
  }
  @media screen and (max-width: 400px) {
    .btn {
      display: block;
    }
    .m-t-0 {
      margin-top: 0;
    }
    .sm-m-t-20px {
      margin-top: 20px;
    }
    .p-b-10px {
      padding-bottom: 10px;
    }
    .center .container {
      margin: 0;
      width: 100%;
    }
    header ul li {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #f2f2f2;
    }
    .hero {
      padding: 0 20px;
    }
    .hero h1.title {
      font-size: 30px;
    }
    .testimonial.block {
      margin: 6px 0;
    }
    a.testimonial-more {
      font-weight: 600;
    }
    a.btn.link-more {
      border: 10px solid #f2f2f2;
      color: #e6ae48;
    }
    .certifications figure {
      margin: 16px 0;
      width: 100px;
    }
    .campaign .campaign-description {
      padding: 0 20px;
    }
    .campaign .campaign-description-bg-arrow {
      background: none;
    }
    .campaign h1 {
      font-size: 26px;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 20px 0;
    }
    .campaign .campaign-description p {
      font-size: 18px;
    }
    .campaign .form-campaign {
      padding: 0;
    }
    .campaign .form-campaign fieldset {
      padding: 10px;
    }
    footer {
      padding: 20px;
    }
    footer .container {
      margin: 0;
      width: 100%;
      padding: 0;
    }
    footer ul li {
      display: block;
      padding: 0;
    }
    footer p {
      padding: 0;
    }
  }
  @media screen and (min-width: 401px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
  }
</style>